[viewBag]
snippetCode = "imprint"
snippetName = "imprint"
snippetProperties[infotext1][title] = "Info Text 1"
snippetProperties[infotext1][type] = "string"
snippetProperties[infotext1][default] = "Suspendisse imperdiet a purus."
snippetProperties[infotext1][options][] = ""
snippetProperties[infotext2][title] = "Info Text 2"
snippetProperties[infotext2][type] = "string"
snippetProperties[infotext2][default] = "Cras laoreet fermentum magna."
snippetProperties[infotext2][options][] = ""
snippetProperties[headertitle][title] = "Header Title"
snippetProperties[headertitle][type] = "string"
snippetProperties[headertitle][default] = "Imprint"
snippetProperties[headertitle][options][] = ""
snippetProperties[copyright][title] = "Copyright"
snippetProperties[copyright][type] = "string"
snippetProperties[copyright][default] = "You need help to customize this theme?"
snippetProperties[copyright][options][] = ""
snippetProperties[copyrighturl][title] = "Copyright Url"
snippetProperties[copyrighturl][type] = "string"
snippetProperties[copyrighturl][default] = "//www.jumplink.eu"
snippetProperties[copyrighturl][options][] = ""
snippetProperties[showcopyright][title] = "Show Copyright"
snippetProperties[showcopyright][type] = "checkbox"
snippetProperties[showcopyright][default] = "false"
snippetProperties[showcopyright][options][] = ""
==
<div id="imprint" data-target="#imprint">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 text-center text-md-left py-4">
                <div class="fg-gray-light">
                    <h5>Viamage Creative Services</h5>
                    <br><a href="tel:{{ str_camel(this.theme.phone_number) }}">{{ this.theme.phone_number }}</a>
                    <br><a href="mailto:info[at]viamage.com">Viamage</a> 2017 - All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-md-8 text-center text-md-left py-8">
                <div class="fg-gray-light">
                    <br />
                    <h5>Powered by</h5>
                    <!--
                            <a href="http://alizeetelecom.com" title="Alizee Telecom" target="_blank"><img
                                        src="{{ 'assets/img/partners/alizee.png'|theme }}"
                                        class="img-responsive partner-image"
                                        alt="Alizee Telecom"/></a>
-->
                    <a href="https://dago.net.pl" title="Dawid Piwek SEO specialist"
                       target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/dago.png"
                                class="img-responsive partner-image"
                                alt="Dawid Piwek SEO specialist"/></a>

                    <a href="http://digidruk.pl" title="DigiDruk - Printing for Business"
                       target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/digidruk.png"
                                class="img-responsive partner-image"
                                alt="DigiDruk"/></a>
                    <!--
                            <a href="http://machinespir.it" title="Egregore Developers" target="_blank"><img
                                        src="{{ 'assets/img/partners/egregore.png'|theme }}"
                                        class="img-responsive partner-image"
                                        alt="Egregore DevOps - Java&Scala"/></a>
                            -->
                    <a href="http://emikse.com" title="Emikse Game Development Studio"
                       target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/emikse.png"
                                class="img-responsive partner-image"
                                alt="Emikse Game Studio"/></a>

                    <a href="https://greenscreen24.pl" title="GreenScreen Movie Studio" target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/greenscreen.png"
                                class="img-responsive partner-image" alt="GreenScreen Studio"/></a>

                    <a href="https://keios.eu" title="Keios Solutions" target="_blank"><img src="https://keios.eu/themes/keiosagency/assets/img/logo70.png"
                    class="image-responsive partner-image" /></a>

                    <a href="#" title="Mazu Import and Creative Services" target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/mazu.png"
                                class="img-responsive partner-image"
                                alt="Mazu Import and Creative Services"/></a>
                    <a href="https://numberonecall.com" title="NumberOne VoIP Provider" target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/numberone.png"
                                class="img-responsive partner-image" alt="NumberOne VoIP Provider"/></a>

                    <a href="http://scalable.engineering" title="Scalable Engineering Apps Development"
                       target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/scalable.png"
                                class="img-responsive partner-image" alt="Scalable Engineering"/></a>

                    <a href="http://waski.net" title="waski.net" target="_blank"><img
                                src="https://keios.eu/themes/keiosagency/assets/img/partners/waski.png"
                                class="img-responsive partner-image"
                                alt="Waski.net"/></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% if showcopyright %}
    <div class="container-fluid bg-gray">
        <div class="row">
            <div class="col-xs-12 text-center bg-inverse py-3">
            </div>
        </div>
    </div>
{% endif %}