[viewBag]
snippetCode = "offer"
snippetName = "offer"
snippetProperties[block01title][title] = "Block 01 Title"
snippetProperties[block01title][type] = "string"
snippetProperties[block01title][default] = "No Waiting Period"
snippetProperties[block01title][options][] = ""
snippetProperties[block02title][title] = "Block 02 Title"
snippetProperties[block02title][type] = "string"
snippetProperties[block02title][default] = "Reminder"
snippetProperties[block02title][options][] = ""
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Offer"
snippetProperties[headertext][options][] = ""
==
<div id="offer" data-target="#offer">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="mb-1">{{ headertext }}</h2>
                <p>{% content 'services/description.htm' %}</p>

            </div>

        </div>
    </div>
</div>