[viewBag]
snippetCode = "services"
snippetName = "services"
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Services"
snippetProperties[headertext][options][] = ""
snippetProperties[headertextblock1][title] = "Header Text Block 1"
snippetProperties[headertextblock1][type] = "string"
snippetProperties[headertextblock1][default] = "Oral Surgery"
snippetProperties[headertextblock1][options][] = ""
snippetProperties[headertextblock2][title] = "Header Text Block 2"
snippetProperties[headertextblock2][type] = "string"
snippetProperties[headertextblock2][default] = "Periodontics"
snippetProperties[headertextblock2][options][] = ""
snippetProperties[headertextblock3][title] = "Header Text Block 3"
snippetProperties[headertextblock3][type] = "string"
snippetProperties[headertextblock3][default] = "Preventative"
snippetProperties[headertextblock3][options][] = ""

[slideshow]
slideshow = 1
numberOfSlide = 5
==
{% if not slideshow or slideshow.slideshow == null or slideshow.slideshow.name == 'Example' %}
    {# placeholder slidehsow if no slideshow is set #}
    {% set _slideshow = {
           "id":1,
           "name":"Service",
           "created_at":"2016-05-23 10:06:55",
           "updated_at":"2016-05-23 10:53:25",
           "slides":[
              {
                 "id":1,
                 "name":"0",
                 "description":"<p><\/p>",
                 "link":"",
                 "sort_order":1,
                 "created_at":"2016-05-23 10:06:55",
                 "updated_at":"2016-05-23 10:56:12",
                 "slideshow_id":1,
                 "is_published":1,
                 "published_at":null,
                 "unpublished_at":null,
                 "image": {
                     "path": "/assets/images/placeholders/service_1.jpg" | theme
                 }
              }
           ]
        }
    %}
{% else %}
    {% set _slideshow = slideshow.slideshow %}
{% endif %}

<div class="bg-gray-lighter" id="services" data-target="#services">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="mb-1">{{ headertext }}</h2>
                <p>{% content 'services/description.htm' %}</p>
            </div>

            {% for i in 1..3 %}
                <div class="col-xs-12 col-md-4 pt-3">
                    {% set icon = 'assets/images/icons/service_block_0' ~ i ~ '.png' %}
                    <img class="center-block pb-3 m8-icon" src="{{ icon |theme }}">
                    
                    {% if i == 1 %}
                        <h3 class="text-center">{{ headertextblock1 }}</h3>
                    {% elseif i == 2 %}
                        <h3 class="text-center">{{ headertextblock2 }}</h3>
                    {% elseif i == 3 %}
                        <h3 class="text-center">{{ headertextblock3 }}</h3>
                    {% endif %}
                    
                    {% set content = 'services/block' ~ i ~ '.htm' %}
                    {% content content %}
                </div>
            {% endfor %}
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {% set icon = 'assets/images/icons//service_block_02.png' %}
                <img class="center-block pb-2 m8-icon" src="{{ icon |theme }}">
                <h3 class="text-center">Research & Development</h3>

                {% set content = 'offer/block_02.htm' %}
                {% content content %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% set icon = 'assets/images/icons/service_block_05.png' %}
                <img class="center-block pb-2 m8-icon" src="{{ icon |theme }}">
                <h3 class="text-center">Games</h3>

                {% set content = 'offer/block_01.htm' %}
                {% content content %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% set icon = 'assets/images/icons/service_block_02.png' %}
                <img class="center-block pb-2 m8-icon" src="{{ icon |theme }}">
                <h3 class="text-center">Events & Campaigns</h3>

                {% set content = 'offer/block_03.htm' %}
                {% content content %}
            </div>




        </div>
    </div>
</div>