[viewBag]
==
{% if slideshow and slideshow['slides'] %}
    <div id="{{id}}" class="carousel slide" data-ride="carousel" data-interval='3500'>
        <div class="carousel-inner" role="listbox">
            {% for i, slide in slideshow['slides'] %}
                {% if slide.image.path %}
                    <div class='carousel-item{% if loop.first %} active{% endif %}'>
                        <div class="carousel-image-background" style="background-image: url('{{ slide.image.path }}');" alt='{{ slide.image.title }}'>
                            <div class="carousel-caption clearfix white-caption col-sm-8 col-xs-12">
                                {% if slide.description %}<h2 class="slideshow-header">{{ slide.description|raw }}</h2>{% endif %}
                                {% if slide.link %}<h3 class="slideshow-subheader">Powerful creative services</h3>{% endif %}
                            </div>
                            <div class="carousel-caption carousel-caption-right clearfix white-caption col-sm-4 col-xs-12">
                               {% partial "slideshowForm/default.htm" %}
                            </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}