[viewBag]
snippetCode = "header"
snippetName = "header"

[slideshow]
slideshow = 1
numberOfSlide = 5
==
{% if not slideshow or slideshow.slideshow == null or slideshow.slideshow.name == 'Example' %}
    {# placeholder slidehsow if no slideshow is set #}
    {% set _slideshow = {
           "id":2,
           "name":"Header",
           "created_at":"2016-05-23 10:22:39",
           "updated_at":"2016-05-23 10:52:46",
           "slides":[
              {
                 "id":4,
                 "name":"1",
                 "description":"<h1>Welcome<\/h1><p>Donec quis magna consectetur, semper felis vitae, finibus libero. Sed laoreet diam odio.<\/p>",
                 "link":"",
                 "sort_order":4,
                 "created_at":"2016-05-23 10:52:10",
                 "updated_at":"2016-05-25 09:10:32",
                 "slideshow_id":2,
                 "is_published":1,
                 "published_at":null,
                 "unpublished_at":null,
                 "image": {
                     "path": "/assets/images/placeholders/header_1.jpg" | theme
                 }
              },
              {
                 "id":5,
                 "name":"2",
                 "description":"",
                 "link":"",
                 "sort_order":5,
                 "created_at":"2016-05-23 10:52:32",
                 "updated_at":"2016-05-23 10:52:32",
                 "slideshow_id":2,
                 "is_published":1,
                 "published_at":null,
                 "unpublished_at":null,
                 "image": {
                     "path": "/assets/images/placeholders/header_2.jpg" | theme
                 }
              },
              {
                 "id":6,
                 "name":"3",
                 "description":"",
                 "link":"",
                 "sort_order":6,
                 "created_at":"2016-05-23 10:52:42",
                 "updated_at":"2016-05-23 10:52:42",
                 "slideshow_id":2,
                 "is_published":1,
                 "published_at":null,
                 "unpublished_at":null,
                 "image": {
                     "path": "/assets/images/placeholders/header_3.jpg" | theme
                 }
              }
           ]
        }
    %}
{% else %}
    {% set _slideshow = slideshow.slideshow %}
{% endif %}

<header id="top" data-target="#top">
    {% partial 'slideshow' slideshow=_slideshow id='carousel-top-header' %}
    <a class="icon-circle mx-auto" href="#services" data-toggle="tooltip" data-placement="top" title="Show more">
        <i class="fa fa-chevron-circle-down"></i>
    </a>
</header>