[viewBag]
==
<?php
// onMailSent function is in default layout
?>
==
<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="csontactForm" role="form"
      data-request="onMailSent"
      data-request-update="'contactForm/confirm': '.confirm-container'"
      data-request-data="receivermail: 'info@viamage.com', receivername:'{{this.theme.company_name}}', succeesstext: '{{this.theme.contact_succeess_text}}', receiverregard: '{{this.theme.contact_regard}}', mailtemplate: '{{this.theme.mail_template}}'"
      >
    <div class="form-groups">
        <div class="form-group">
            <input type="text" class="form-control" name="name" required placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" required placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="regard" required placeholder="Regard">
        </div>
        <fieldset class="form-group">
            <textarea class="form-control" name="message" rows="6" required placeholder="Your message to us"></textarea>
        </fieldset>
        {% if __SELF__.enableCaptcha %}
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ __SELF__.siteKey }}"></div>
            </div>
        {% endif %}
        <div class="d-flex align-items-end flex-column">
            <button type="submit" class="btn">Send</button>
        </div> 
    </div>
</form>