.navbar .navbar-brand {
    min-width: 150px;
    height: 37px;
    background-size: 100% auto !important;
    padding-left: 50px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}