description = "Default layout"

[webvariables]

[staticPage]

[apparatusFlashMessages]
injectMain = 1
injectNoty = 1
injectAnimate = 1
==
<?php
// TODO wird diese funktion zweimal aufgerufen?
function onMailSent() {
    
    $formVars = [
        'receivermail' => post('receivermail'),
        'receivername' => post('receivername'),
        'succeesstext' => post('succeesstext'),
        'receiverregard' => post('receiverregard'),
        'mailtemplate' => post('mailtemplate'),
        'name' => post('name'),
        'email' => post('email'),
        'regard' => post('regard'),
        'sendermessage' => post('message'),
    ];
    
    $formVars['receiverregard'] = str_replace("{{name}}", $formVars['name'], $formVars['receiverregard']);
    $formVars['receiverregard'] = str_replace("{{regard}}", $formVars['regard'], $formVars['receiverregard']);
    
    $buildOwnerMessage = function ($message) use ($formVars) {
        // TODO use email and name from backend or theme settings
        $message->to($formVars['receivermail'], $formVars['receivername']);
        $message->subject($formVars['receiverregard']);
    };

    // mail to site owner
    Mail::send($formVars['mailtemplate'], $formVars, $buildOwnerMessage);
      
    $this['result'] = $formVars['succeesstext'];
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        {% component "webvariables" %}
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% styles %}
        <link href="{{ 'assets/css/theme-red.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/custom.css'|theme }}" rel="stylesheet">
    </head>
    <body id="{{ str_studly(this.page.title) }}" data-spy="scroll">
        {% component 'apparatusFlashMessages' %}
        <style>
            .navbar .navbar-brand {
                background: url({{ 'assets/images/text-logo.png'|theme }}) no-repeat center center;
            }
        </style>
        {# Content #}
        <section id="layout-content">
            {% partial 'navigation' %}
            {% page %}
        </section>

        {# Scripts #}
        <script src="{{ [
            'assets/vendor/within-viewport/withinviewport.js',
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/within-viewport/jquery.withinviewport.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap-backward/dist/js/bootstrap.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/Stickyfill/dist/stickyfill.js',
            'assets/vendor/bootstrap-validator/dist/validator.js',
            'assets/vendor/leaflet/dist/leaflet.js',

            'assets/javascript/app.js',
        ]|theme }}"></script>
        
        {% framework %}

        {% scripts %}

    </body>
</html>