description = "Info layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pascal Garber, Keios Solutions">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% styles %}
        <link href="{{
            'assets/css/theme.css'
        |theme }}" rel="stylesheet">
    </head>
    <body id="{{ str_studly(this.page.title) }}">
        <section id="layout-content">
            {% page %}
        </section>
        
    </body>
</html>